:root {
    --primary-color:#F5EDED;
    --secondary-color:#E2DAD6;
    --primary-bg-color:#6482AD;
    --secondary-bg-color:#7FA1C3;
    --link-color: #501400;
    --link-hover-color:#504600;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color));
    color: var(--primary-color);
    transition: background 0.3s, color 0.3s;
}
.dark-mode {
    --primary-color: #ECDFCC;
    --secondary-color: #697565;
    --primary-bg-color:#1E201E;
    --secondary-bg-color: #3C3D37;
    --link-color: #FFD700;
    --link-hover-color: #FFA500;
}
.sidebar {
    width: 50px;
    background: var(--primary-bg-color);
    position: fixed;
    margin-top: 100px;
    color: var(--primary-color);
    font-size: 20px;
}
.sidebar:hover {
    width: 320px;
}
.sidebar a {
    display: block;
    color:var(--primary-color);
    padding: 15px;
    text-decoration: none;
    transition: background 0.3s;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-icon {
    margin-right: 20px;
}
.sidebar a:hover {
    background:var(--secondary-bg-color);
    color: var(--secondary-color);
    border-radius: 5px;
}
.sidebar a.active {
    background: var(--secondary-bg-color);
    color: var(--secondary-color);
    border-radius: 5px;
}
.content {
    margin-left: 320px;
    padding: 20px;
    flex-grow: 1;
}
.header {
    background: url('../img/head.png') no-repeat center center;
    background-size: cover;
    padding: 30px;
    text-align: left;
    color: var(--primary-color);
    position: relative;
    background-color: transparent;
}
.header h1 {
    margin: 0;
    font-size: 36px;
}
.section {
    margin-top: 30px;
    padding: 20px;
    background: var(--secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-margin-top: 100px;
    color: var(--primary-color);
}
.dark-mode-toggle {
    background: var(--primary-bg-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-width: 20px;
    border-color: var(--primary-color);
}
th, td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: left;
    line-height:175% 
}   
th  {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    text-align: center;
}

.project {
    display: inline-block;
    vertical-align: top;
    background: var(--primary-bg-color);
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
}

.project img {
    width: 100%;
    max-width: 900px;
    display: block;
    border-radius: 10px;
}

.project h2,.award-text h2 {
    background: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin-bottom: 30px;
}
.publication {
    text-align: left;
    margin-bottom: 20px;
    background: var(--primary-bg-color);
    color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}
a
ol.journal-list {
    counter-reset: item;
    list-style-type: none;
}

ol.journal-list li:before {
    content: 'J' counter(item, decimal) '. ';
    counter-increment: item;
}

ol.conference-counter {
    counter-reset: custom-item;
    list-style-type: none;
}

ol.conference-counter li:before {
    content: 'C' counter(custom-item, decimal) '. ';
    counter-increment: custom-item;
}
.ifm { 
    border: 5px var(--primary-bg-color); 
    border-radius: 8px; 
    margin: 2% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between iframes */
    align-items: center;
}
.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
.home-button:hover {
    background-color: var(--secondary-bg-color);
}

.proj-highlight {
    background: linear-gradient(to right, var(--secondary-bg-color), var(--primary-bg-color) 30%);
    color: var(--primary-color);
    padding: 15px;
    margin-top: 20px;
}
.video-container {
    position: relative;
}
.left-button, .right-button {
    position:absolute;
    background: var(--primary-bg-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    top: 50%;
    left: 0;
}
.right-button {
    left: auto;
    right: 0;
}
.yt-frame {
    width: 100%;
    height: 315px;
    scroll-snap-align: start;
}
.video-box {
    overflow-x:scroll;
    white-space: nowrap;
    scrollbar-color: var(--primary-bg-color) var(--secondary-bg-color);
    scroll-snap-type: x mandatory;
}
.img-container {
    position: relative;
    padding-bottom: 25px;
}
.img-container img {
    width: 800px;
    height: 480px;
}
.overlay-text {
    position: absolute;
    width: 780px;
    bottom: 13px;
    left: 0;
    background: linear-gradient(to right, rgb(0,0,0,1), rgb(0,0,0,0.6), rgb(0,0,0,1));
    color: var(--primary-color);
    padding: 10px;
    text-align: left;
}
.long-para {
    position: relative;
    overflow: hidden;
    max-height: 3.6em; /* Limit to 3 lines */
    line-height: 1.2em; /* Adjust line height */
    transition: max-height 0.3s ease;
    display: inline; /* Ensure inline display for text */
}
.long-para.expanded {
    max-height: none; /* Remove height restriction when expanded */
}
.dots {
    display: inline; /* Show dots by default */
}
.long-para.expanded .dots {
    display: none; /* Hide dots when expanded */
}
.more-text {
    display: none; /* Hidden by default */
}
.long-para.expanded .more-text {
    display: inline; /* Show when expanded */
}
.read-more-btn {
    background-color: transparent;
    color: var(--link-color);
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px; /* Add spacing between text and button */
    display: inline; /* Ensure button is inline */
    text-decoration: underline;
}
.read-more-btn:hover {
    color: var(--link-hover-color);
}
.award-card {
    display: inline-block;
    vertical-align: top;
    background: var(--primary-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
}