:root {
    --primary-color:#F5EDED;
    --secondary-color:#E2DAD6;
    --primary-bg-color:#6482AD;
    --secondary-bg-color:#7FA1C3;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color));
    color: var(--primary-color);
    transition: background 0.3s, color 0.3s;
}
.dark-mode {
    --primary-color: #ECDFCC;
    --secondary-color: #697565;
    --primary-bg-color:#1E201E;
    --secondary-bg-color: #3C3D37;
}
.sidebar {
    width: 50px;
    background: var(--primary-bg-color);
    position: fixed;
    margin-top: 100px;
    color: var(--primary-color);
    font-size: 20px;
}
.sidebar:hover {
    width: 320px;
}
.sidebar a {
    display: block;
    color:var(--primary-color);
    padding: 15px;
    text-decoration: none;
    transition: background 0.3s;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-icon {
    margin-right: 20px;
}
.sidebar a:hover {
    background:var(--secondary-bg-color);
    color: var(--secondary-color);
    border-radius: 5px;
}
.sidebar a.active {
    background: var(--secondary-bg-color);
    color: var(--secondary-color);
    border-radius: 5px;
}
.content {
    margin-left: 320px;
    padding: 20px;
    flex-grow: 1;
}
.header {
    background: url('../img/head.png') no-repeat center center;
    background-size: cover;
    padding: 30px;
    text-align: left;
    color: var(--primary-color);
    position: relative;
    background-color: transparent;
}
.header h1 {
    margin: 0;
    font-size: 36px;
}
.section {
    margin-top: 30px;
    padding: 20px;
    background: var(--secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-margin-top: 100px;
    color: var(--primary-color);
}
.dark-mode-toggle {
    background: var(--primary-bg-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-width: 20px;
    border-color: var(--primary-color);
}
th, td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: left;
    line-height:175% 
}   
th  {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    text-align: center;
}

.project {
    background: var(--primary-bg-color);
    border-radius: 15px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    max-width: 900px;
    display: block;
    border-radius: 10px;
}

.project h2 {
    background: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0px;
}
.publication {
    text-align: left;
    margin-bottom: 20px;
    background: var(--primary-bg-color);
    color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.publication a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
}
ol.journal-list {
    counter-reset: item;
    list-style-type: none;
}

ol.journal-list li:before {
    content: 'J' counter(item, decimal) '. ';
    counter-increment: item;
}

ol.conference-counter {
    counter-reset: custom-item;
    list-style-type: none;
}

ol.conference-counter li:before {
    content: 'C' counter(custom-item, decimal) '. ';
    counter-increment: custom-item;
}
.ifm { 
    border: 5px var(--primary-bg-color); 
    border-radius: 8px; 
    margin: 2% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between iframes */
    align-items: center;
}
.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
.home-button:hover {
    background-color: var(--secondary-bg-color);
}

.proj-highlight {
    background: linear-gradient(to right, var(--secondary-bg-color), var(--primary-bg-color) 30%);
    color: var(--primary-color);
    padding: 15px;
    margin-top: 20px;
}